/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  transition: 0.5s;
}
:root {
  --border-non-active-color: #a5a5a5;
  --border-active-color: #fff;
}
.apartments {
  width: 100%;
  display: flex;
  height: 796px;  
}
.apartments_list {
  background: #011e41;
  width: 573px;
  height: 100%;
  padding: 101px 103px 100px 133px;
}

.apartments_heading {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%;
  text-transform: uppercase;
  height: 96px;
}
.apartments_list-list {
  list-style-type: none;
}

.apartments_list-item {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 166.5%;
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 8.5px;
  height: 39px;
  overflow: hidden;
  margin-bottom: 11px;
}

.apartments_list-item:hover .arrow{
  opacity: 1;
}

.apartments_list-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.apartments_list-item-rooms span {
  cursor: pointer;
  position: relative;
  font-weight: 600;
}

.apartments_list-item-rooms {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0 42px;
}

.arrow {
  opacity: 0;
}

.list-active {
  border-bottom: 1px solid #fff;
}

.list-active-height {
  height: 75.5px;
}

.list-active-height  .arrow {
  transform: rotate(90deg);
}

.list-active .apartments_list-item-title span {
  font-weight: 600;
}

.apartments_image_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.apartments_image{
  width: 100%;
  height: 529px;
  object-fit: cover;
}

.room-active::after{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #FFF;
  bottom: -7px;
  left: 0;
}